<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gems Requested</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <header> 
        <nav>
            <a href="/" class="nav-link"><span>Main</span></a>
            <a href="/login" class="nav-link"><span>Login</span></a>
            <a href="/signup" class="nav-link"><span>Signup</span></a>
            <a href="/request" class="nav-link"><span>Request</span></a>
            <a href="/uniques" class="nav-link"><span>Uniques</span></a>
            <a href="/gems" class="nav-link"><span>Gems</span></a>
            <a href="/others" class="nav-link"><span>Others</span></a>
            <a href="/jobs" class="nav-link"><span>Jobs</span></a>
            <a href="/users" class="nav-link"><span>Users</span></a>
            <a href="/builds" class="nav-link"><span>Builds</span></a>
            <a href="/resources" class="nav-link"><span>Resources</span></a>
        </nav>
    </header>

    <h1>Gems Requested</h1>

    <img src="images/gems.gif">


    <section class="labs">
        <h3><span id="time">Loading...</span></h3>
        <a href="https://www.poelab.com/nlq2j/">Normal Lab</a>
        <a href="https://www.poelab.com/ecl4r/">Cruel Lab</a>
        <a href="https://www.poelab.com/iettp/">Merc Lab</a>
        <a href="https://www.poelab.com/bcwmh/">Uber Lab</a>
    </section>

    <h2 class="centered-description">What has been requested and by who, click to complete and move down the list, click profile name to open their poe account page</h2>

    <ul class="all-requested">
        <li class="field-description">Gem Name - Account Name - Discord Name</li>
        <% gems.forEach( el => { %>
                <li class='requestedItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'>
                        <%= el.requestedItem %> - <a href="https://www.pathofexile.com/account/view-profile/<%=el.userName%>"><%= el.userName %> - <%=el.discordName%></a>
                    </span>
                </li>
        <% }) %>    
        </ul>




    <script src="js/main.js"></script>
</body>
</html>