<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/images/favicon-32x32.png"
  />
</head>
<body>
    <header>
        <nav class="topNav">
            <a href="/" class="nav-link"><span>Main</span></a>
            <a href="/login" class="nav-link"><span>Login</span></a>
            <a href="/signup" class="nav-link"><span>Signup</span></a>
            <a href="/request" class="nav-link"><span>Request</span></a>
            <a href="/uniques" class="nav-link"><span>Uniques</span></a>
            <a href="/gems" class="nav-link"><span>Gems</span></a>
            <a href="/others" class="nav-link"><span>Others</span></a>
            <a href="/jobs" class="nav-link"><span>Jobs</span></a>
            <a href="/users" class="nav-link"><span>Users</span></a>
            <a href="/builds" class="nav-link"><span>Builds</span></a>
            <a href="/resources" class="nav-link"><span>Resources</span></a>
            <a href="/logout" class="nav-link"><span>Logout</span></a>
        </nav>
    </header>

    <button id="menuButton" type="button">Menu</button>
    <nav class="menuNav">
        <a href="/" class="nav-link"><span>Main</span></a>
        <a href="/login" class="nav-link"><span>Login</span></a>
        <a href="/signup" class="nav-link"><span>Signup</span></a>
        <a href="/request" class="nav-link"><span>Request</span></a>
        <a href="/uniques" class="nav-link"><span>Uniques</span></a>
        <a href="/gems" class="nav-link"><span>Gems</span></a>
        <a href="/others" class="nav-link"><span>Others</span></a>
        <a href="/jobs" class="nav-link"><span>Jobs</span></a>
        <a href="/users" class="nav-link"><span>Users</span></a>
        <a href="/builds" class="nav-link"><span>Builds</span></a>
        <a href="/resources" class="nav-link"><span>Resources</span></a>
        <a href="/logout" class="nav-link"><span>Logout</span></a>
    </nav>

    <h1>Jobs</h1>

    <img src="images/job.gif" alt="Oprah telling people, 'You get a job' gif" class="oprah">
    <h2 class="centered-description">What you do is what defines you</h2>

    <form action="/jobs/createJob" method='POST' class="job-entry">
        <input type="text" placeholder="Enter Job" name='jobItem' autocomplete="off">
        <input type="submit" value="Submit Job">
    </form>
    <p class="job-description">Examples: heister, bosser, blighter, etc.</p>
    <p class="centered-description">By default ordering of jobs is submittance order; first/oldest submitted to -> last/newly submitted.</p>

        <table class="all-requested">
            <thead>
            <tr class="field-description">
                <th scope="col" onclick="sortTable(0)">Job ↑↓</th>
                <th scope="col" onclick="sortTable(1)">Poe Account ↑↓</th>
                <th scope="col" onclick="sortTable(2)">Discord Name ↑↓</th>

            </tr>
            </thead>
            <tbody>
                <% if(jobs.length<1){ %>
                    <tr class='requestedItem'>
                        <td>None Created</td>
                        <td>None Created</td>
                        <td>None Created</td>
                    </tr>
                <%}else{
                    jobs.forEach( el => {
                        let poeAccountName = el.userName;
                        let firstNameMatch = poeAccountName.match(/(\w+)\#/); 
                        let descriptorMatch = poeAccountName.match(/\#(\d+)/); 
                        let firstName = firstNameMatch ? firstNameMatch[1] : ''; 
                        let descriptor = descriptorMatch ? descriptorMatch[1] : ''; %>
                        <tr class='requestedItem' data-id='<%=el._id%>'>
                            <td><%=el.jobName%></td>
                            <td>
                                <a href="https://www.pathofexile.com/account/view-profile/<%=firstName%>-<%=descriptor%>"><%= el.userName %></a>
                            </td>  
                            <td><%= el.discordName%></td>
                        </tr>
                <% })
                }%>
            </tbody>
        </table>


    <script src="js/main.js"></script>
</body>
</html>