<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Items</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/images/favicon-32x32.png"
  />
</head>
<body>
    <header>
        <nav class="topNav">
            <a href="/" class="nav-link"><span>Main</span></a>
            <a href="/login" class="nav-link"><span>Login</span></a>
            <a href="/signup" class="nav-link"><span>Signup</span></a>
            <a href="/request" class="nav-link"><span>Request</span></a>
            <a href="/uniques" class="nav-link"><span>Uniques</span></a>
            <a href="/gems" class="nav-link"><span>Gems</span></a>
            <a href="/others" class="nav-link"><span>Others</span></a>
            <a href="/jobs" class="nav-link"><span>Jobs</span></a>
            <a href="/users" class="nav-link"><span>Users</span></a>
            <a href="/builds" class="nav-link"><span>Builds</span></a>
            <a href="/resources" class="nav-link"><span>Resources</span></a>
            <a href="/logout" class="nav-link"><span>Logout</span></a>
        </nav>
    </header>

    <button id="menuButton" type="button">Menu</button>
    <nav class="menuNav">
        <a href="/" class="nav-link"><span>Main</span></a>
        <a href="/login" class="nav-link"><span>Login</span></a>
        <a href="/signup" class="nav-link"><span>Signup</span></a>
        <a href="/request" class="nav-link"><span>Request</span></a>
        <a href="/uniques" class="nav-link"><span>Uniques</span></a>
        <a href="/gems" class="nav-link"><span>Gems</span></a>
        <a href="/others" class="nav-link"><span>Others</span></a>
        <a href="/jobs" class="nav-link"><span>Jobs</span></a>
        <a href="/users" class="nav-link"><span>Users</span></a>
        <a href="/builds" class="nav-link"><span>Builds</span></a>
        <a href="/resources" class="nav-link"><span>Resources</span></a>
        <a href="/logout" class="nav-link"><span>Logout</span></a>
    </nav>

    <h1>Request Items</h1>

    <img src="images/where.gif">

    <form action="/request/createRequestedItem" method='POST'>
        <fieldset class="center-column">
        	<legend class="request-item-legend">Request Item</legend>
        	<section class="requested-inputs center-column">
        		<label class="request-item-label"><input type="text" placeholder="Enter Name" name='requestedItem' autocomplete="off" minlength="1" required></label>
        		<section>
        			<label><input type="radio" value="Unique" name="itemType" required autocomplete="off">Unique</label>
        			<label><input type="radio" value="Gem" name="itemType" autocomplete="off">Gem</label>
        			<label><input type="radio" value="Other" name="itemType" autocomplete="off">Other</label>
        		</section>
        		<input type="submit" class="requested-inputs-submit" value="Request">
        	</section>
        	<p class="request-item-p">Can type other things in name field like "Slitherpinch with elemental weakness corruption"</p>
        	<p class="request-item-p">Other example: 'Crit Quiver'</p>
        </fieldset>
    </form>

    <h3>What you have requested:</h3>
    <p class="centered-description">If you have received your item or no longer want what you requested, delete it using the button beside it :)</p>

    <p>Click on a type below to see what you've requested from each:</p>
    <section class="requestBar">
        <span class="requestButton uniques uniqueButton">Uniques</span>
        <span class="requestButton gems gemsButton">Gems</span>
        <span class="requestButton others othersButton">Others</span>
    </section>

        <table class="displayed-table uniquesTable uniques">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Unique Name ↑↓</th>
                    <th onclick="sortTable(1)" class="table-date">Requested Date ↑↓</th>
                    <th class="table-actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if(uniques.length===0){ %>
                    <tr class='requestedItem'>
                        <td>None Requested</td>
                        <td>None Requested</td>
                        <td>None Requested</td>
                    </tr>
                <%}%>
                <% uniques.forEach( el => { %>
                    <tr class='requestedItem' data-id='<%=el._id%>'>
                        <td><%= el.requestedItem %></td>
                        <td><%= `${el.requestedDate.getMonth()}/${el.requestedDate.getDate()}/${el.requestedDate.getFullYear()}` %></td>
                        <td class='del'> Delete </td>
                    </tr>
                <% }) %>    
            </tbody>
        </table>

        <table class="displayed-table gemsTable hideTable gems">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Gem Name ↑↓</th>
                    <th onclick="sortTable(1)" class="table-date">Requested Date ↑↓</th>
                    <th class="table-actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if(gems.length===0){ %>
                    <tr class='requestedItem'>
                        <td>None Requested</td>
                        <td>None Requested</td>
                        <td>None Requested</td>
                    </tr>
                <%}%>
                <% gems.forEach( el => { %>
                    <tr class='requestedItem' data-id='<%=el._id%>'>
                        <td><%= el.requestedItem %></td>
                        <td><%= `${el.requestedDate.getMonth()}/${el.requestedDate.getDate()}/${el.requestedDate.getFullYear()}` %></td>
                        <td class='del'> Delete </td>
                    </tr>
                <% }) %>    
            </tbody>
        </table>

        <table class="displayed-table othersTable hideTable others">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Other Name ↑↓</th>
                    <th onclick="sortTable(1)" class="table-date">Requested Date ↑↓</th>
                    <th class="table-actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if(others.length===0){ %>
                    <tr class='requestedItem'>
                        <td>None Requested</td>
                        <td>None Requested</td>
                        <td>None Requested</td>
                    </tr>
                <%}%>
                <% others.forEach( el => { %>
                    <tr class='requestedItem' data-id='<%=el._id%>'>
                        <td><%= el.requestedItem %></td>
                        <td><%= `${el.requestedDate.getMonth()}/${el.requestedDate.getDate()}/${el.requestedDate.getFullYear()}` %></td>
                        <td class='del'> Delete </td>
                    </tr>
                <% }) %>    
            </tbody>
        </table>

    <script src="js/main.js"></script>
    <script>
        const uniqueButton = document.querySelector('.uniqueButton')
        const gemsButton = document.querySelector('.gemsButton')
        const othersButton = document.querySelector('.othersButton')
        const uniquesTable = document.querySelector('.uniquesTable')
        const gemsTable = document.querySelector('.gemsTable')
        const othersTable = document.querySelector('.othersTable')

        uniqueButton.addEventListener('click', e=>{
            uniquesTable.classList.remove('hideTable')
            gemsTable.classList.add('hideTable')
            othersTable.classList.add('hideTable')
        })
        gemsButton.addEventListener('click', e=>{
            gemsTable.classList.remove('hideTable')
            uniquesTable.classList.add('hideTable')
            othersTable.classList.add('hideTable')
        })
        othersButton.addEventListener('click', e=>{
            othersTable.classList.remove('hideTable')
            gemsTable.classList.add('hideTable')
            uniquesTable.classList.add('hideTable')
        })
    </script>
</body>
</html>