<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Items</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/images/favicon-32x32.png"
  />
</head>
<body>
    <header>
        <nav class="topNav">
            <a href="/" class="nav-link"><span>Main</span></a>
            <a href="/login" class="nav-link"><span>Login</span></a>
            <a href="/signup" class="nav-link"><span>Signup</span></a>
            <a href="/request" class="nav-link"><span>Request</span></a>
            <a href="/uniques" class="nav-link"><span>Uniques</span></a>
            <a href="/gems" class="nav-link"><span>Gems</span></a>
            <a href="/others" class="nav-link"><span>Others</span></a>
            <a href="/jobs" class="nav-link"><span>Jobs</span></a>
            <a href="/users" class="nav-link"><span>Users</span></a>
            <a href="/builds" class="nav-link"><span>Builds</span></a>
            <a href="/resources" class="nav-link"><span>Resources</span></a>
            <a href="/admin" class="nav-link"><span>Admin</span></a>
            <a href="/logout" class="nav-link logout"><span>Logout</span></a>
        </nav>
    </header>

    <button id="menuButton" type="button">Menu</button>
    <nav class="menuNav">
        <a href="/" class="nav-link"><span>Main</span></a>
        <a href="/login" class="nav-link"><span>Login</span></a>
        <a href="/signup" class="nav-link"><span>Signup</span></a>
        <a href="/request" class="nav-link"><span>Request</span></a>
        <a href="/uniques" class="nav-link"><span>Uniques</span></a>
        <a href="/gems" class="nav-link"><span>Gems</span></a>
        <a href="/others" class="nav-link"><span>Others</span></a>
        <a href="/jobs" class="nav-link"><span>Jobs</span></a>
        <a href="/users" class="nav-link"><span>Users</span></a>
        <a href="/builds" class="nav-link"><span>Builds</span></a>
        <a href="/resources" class="nav-link"><span>Resources</span></a>
        <a href="/admin" class="nav-link"><span>Admin</span></a>
        <a href="/logout" class="nav-link logout"><span>Logout</span></a>
    </nav>

    <h1>Request Items</h1>

    <img src="images/where.gif">

    <form action="/request/createRequestedItem" method='POST' class="request-form">
        <fieldset class="center-column">
          <legend class="request-item-legend">Request Item</legend>
          <section class="requested-inputs center-column">
            <label class="request-item-label"><input type="text" placeholder="Enter Name" name='requestedItem' autocomplete="off" minlength="1" required></label>
            <section class="input-radio-section">
              <label><input type="radio" value="Unique" name="itemType" required autocomplete="off">Unique</label>
              <label><input type="radio" value="Gem" name="itemType" autocomplete="off">Gem</label>
              <label><input type="radio" value="Other" name="itemType" autocomplete="off">Other</label>
            </section>
            <input type="submit" class="requested-inputs-submit" value="Request">
          </section>
          <p class="request-item-p">Can type other things in name field like "Slitherpinch with elemental weakness corruption"</p>
          <p class="request-item-p">Other example: 'Crit Quiver'</p>
        </fieldset>
    </form>

    <h3>What you have requested:</h3>
    <p class="centered-description">You can keep your fulfilled items here for your records, or you can delete them.</p>

    <p class="centered-description">Click on a type below to see what you've requested from each:</p>
    <section class="requestBar">
        <span class="requestButton uniques uniqueButton">Uniques</span>
        <span class="requestButton gems gemsButton">Gems</span>
        <span class="requestButton others othersButton">Others</span>
    </section>

    <!-- uncompleted uniques table  -->
    <table class="displayed-table uniquesTable uniques">
        <caption>Incomplete Requested Uniques</caption>
        <thead>
            <tr class="field-description request-description">
                <th onclick="sortTable(0)">Unique Name ↑↓</th>
                <th onclick="sortTable(1)" class="table-date">Requested Date ↑↓</th>
                <th class="fulfillment-actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% let uncompleteUniques = uniques.filter(el=>el.completed===false)%>
            <% if(uncompleteUniques.length<1){ %>
                <tr class='requestedItem'>
                    <td class="requested-cell">None Requested</td>
                    <td class="requested-cell">None Requested</td>
                    <td class="requested-cell">None</td>
                </tr>
            <% }
            uncompleteUniques.forEach( el => { %>
                <tr class='requestedItem' data-id='<%=el._id%>'>
                    <td class="requested-cell"><%= el.requestedItem %></td>
                    <td class="requested-cell">
                            <% if(el.requestedDate){ %>
                                <%=
                                    `${el.requestedDate.getMonth()+1}/${el.requestedDate.getDate()}/${el.requestedDate.getFullYear()} 
                                    ${el.requestedDate.getHours()}:${String(el.requestedDate.getMinutes()).padStart(2, '0')}:${String(el.requestedDate.getSeconds()).padStart(2, '0')}`
                                %>
                            <%}else{ %>
                                <%='predate'%>
                            <% }%>
                    </td>
                    <td class="request-actions">
                        <span class='delete-request'>Delete</span>
                        <% if(el.completed!==true){%>
                            <span class="complete-item">Complete</span>
                        <%}%>
                    </td>
                </tr>
            <% }) %>    
        </tbody>
    </table>

    <!-- completed uniques table -->
    <table class="displayed-table uniquesTable uniques completed-table">
        <caption>Completed Requested Uniques</caption>
        <thead>
            <tr class="field-description request-description">
                <th onclick="sortTable(0)">Unique Name ↑↓</th>
                <th onclick="sortTable(1)" class="table-date">Requested Date ↑↓</th>
                <th>Completed By</th>
                <th class="fulfillment-actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% let completedUniques = uniques.filter(el=>el.completed===true)%>
            <% if(completedUniques.length<1){ %>
                <tr class='requestedItem'>
                    <td class="requested-cell">None Completed</td>
                    <td class="requested-cell">None Completed</td>
                    <td class="requested-cell">None</td>
                    <td class="requested-cell">None</td>
                </tr>
            <% }
            completedUniques.forEach( el => { %>
                <tr class='requestedItem' data-id='<%=el._id%>'>
                    <td class="requested-cell"><%= el.requestedItem %></td>
                    <td class="requested-cell">
                            <% if(el.requestedDate){ %>
                                <%=
                                    `${el.requestedDate.getMonth()+1}/${el.requestedDate.getDate()}/${el.requestedDate.getFullYear()} 
                                    ${el.requestedDate.getHours()}:${String(el.requestedDate.getMinutes()).padStart(2, '0')}:${String(el.requestedDate.getSeconds()).padStart(2, '0')}`
                                %>
                            <%}else{ %>
                                <%='predate'%>
                            <% }%>
                    </td>
                    <td class="requested-cell">
                            <span class="tooltip">Completed by:
                                <div class='tooltiptext'>
                                       <%=el.completedBy%> on <%=`${el.completedAt.getMonth()+1}/${el.completedAt.getDate()}/${el.completedAt.getFullYear()}`%> at <%=`${el.completedAt.getHours()}:${String(el.completedAt.getMinutes()).padStart(2, '0')}:${String(el.completedAt.getSeconds()).padStart(2, '0')}`%>
                                </div>
                            </span>
                    </td>
                    <td class="request-actions">
                        <span class='delete-request'>Delete</span>
                        <% if(el.completed===true){%>
                            <span class="mark-uncomplete">Uncomplete</span>
                        <%}%>
                    </td>
                </tr>
            <% }) %>    
        </tbody>
    </table>










    <!-- uncompleted gems table  -->
    <table class="displayed-table gemsTable gems hideTable">
        <caption>Incomplete Requested Gems</caption>
        <thead>
            <tr class="field-description request-description">
                <th onclick="sortTable(0)">Unique Name ↑↓</th>
                <th onclick="sortTable(1)" class="table-date">Requested Date ↑↓</th>
                <th class="fulfillment-actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% let uncompleteGems = gems.filter(el=>el.completed===false)%>
            <% if(uncompleteGems.length<1){ %>
                <tr class='requestedItem'>
                    <td class="requested-cell">None Requested</td>
                    <td class="requested-cell">None Requested</td>
                    <td class="requested-cell">None</td>
                </tr>
            <% }
            uncompleteGems.forEach( el => { %>
                <tr class='requestedItem' data-id='<%=el._id%>'>
                    <td class="requested-cell"><%= el.requestedItem %></td>
                    <td class="requested-cell">
                            <% if(el.requestedDate){ %>
                                <%=
                                    `${el.requestedDate.getMonth()+1}/${el.requestedDate.getDate()}/${el.requestedDate.getFullYear()} 
                                    ${el.requestedDate.getHours()}:${String(el.requestedDate.getMinutes()).padStart(2, '0')}:${String(el.requestedDate.getSeconds()).padStart(2, '0')}`
                                %>
                            <%}else{ %>
                                <%='predate'%>
                            <% }%>
                    </td>
                    <td class="request-actions">
                        <span class='delete-request'>Delete</span>
                        <% if(el.completed!==true){%>
                            <span class="complete-item">Complete</span>
                        <%}%>
                    </td>
                </tr>
            <% }) %>    
        </tbody>
    </table>


    <!-- completed gems table -->
    <table class="displayed-table gemsTable gems completed-table hideTable">
        <caption>Completed Requested Gems</caption>
        <thead>
            <tr class="field-description request-description">
                <th onclick="sortTable(0)">Unique Name ↑↓</th>
                <th onclick="sortTable(1)" class="table-date">Requested Date ↑↓</th>
                <th>Completed By</th>
                <th class="fulfillment-actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% let completeGems = gems.filter(el=>el.completed===true)%>
            <% if(completeGems.length<1){ %>
                <tr class='requestedItem'>
                    <td class="requested-cell">None Completed</td>
                    <td class="requested-cell">None Completed</td>
                    <td class="requested-cell">None</td>
                    <td class="requested-cell">None</td>
                </tr>
            <% }
            completeGems.forEach( el => { %>
                <tr class='requestedItem' data-id='<%=el._id%>'>
                    <td class="requested-cell"><%= el.requestedItem %></td>
                    <td class="requested-cell">
                            <% if(el.requestedDate){ %>
                                <%=
                                    `${el.requestedDate.getMonth()+1}/${el.requestedDate.getDate()}/${el.requestedDate.getFullYear()} 
                                    ${el.requestedDate.getHours()}:${String(el.requestedDate.getMinutes()).padStart(2, '0')}:${String(el.requestedDate.getSeconds()).padStart(2, '0')}`
                                %>
                            <%}else{ %>
                                <%='predate'%>
                            <% }%>
                    </td>
                    <td class="requested-cell">
                            <span class="tooltip">Completed by:
                                <div class='tooltiptext'>
                                    <%=el.completedBy%> on <%=`${el.completedAt.getMonth()+1}/${el.completedAt.getDate()}/${el.completedAt.getFullYear()}`%> at <%=`${el.completedAt.getHours()}:${String(el.completedAt.getMinutes()).padStart(2, '0')}:${String(el.completedAt.getSeconds()).padStart(2, '0')}`%>
                                </div>
                            </span>
                    </td>
                    <td class="request-actions">
                        <span class='delete-request'>Delete</span>
                        <% if(el.completed===true){%>
                            <span class="mark-uncomplete">Uncomplete</span>
                        <%}%>
                    </td>
                </tr>
            <% }) %>    
        </tbody>
    </table>













    <!-- uncompleted others table  -->
    <table class="displayed-table othersTable others hideTable">
        <caption>Incomplete Requested Others</caption>
        <thead>
            <tr class="field-description request-description">
                <th onclick="sortTable(0)">Unique Name ↑↓</th>
                <th onclick="sortTable(1)" class="table-date">Requested Date ↑↓</th>
                <th class="fulfillment-actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% let uncompleteOthers = others.filter(el=>el.completed===false)%>
            <% if(uncompleteOthers.length<1){ %>
                <tr class='requestedItem'>
                    <td class="requested-cell">None Requested</td>
                    <td class="requested-cell">None Requested</td>
                    <td class="requested-cell">None</td>
                </tr>
            <% }
            uncompleteOthers.forEach( el => { %>
                <tr class='requestedItem' data-id='<%=el._id%>'>
                    <td class="requested-cell"><%= el.requestedItem %></td>
                    <td class="requested-cell">
                            <% if(el.requestedDate){ %>
                                <%=
                                    `${el.requestedDate.getMonth()+1}/${el.requestedDate.getDate()}/${el.requestedDate.getFullYear()} 
                                    ${el.requestedDate.getHours()}:${String(el.requestedDate.getMinutes()).padStart(2, '0')}:${String(el.requestedDate.getSeconds()).padStart(2, '0')}`
                                %>
                            <%}else{ %>
                                <%='predate'%>
                            <% }%>
                    </td>
                    <td class="request-actions">
                        <span class='delete-request'>Delete</span>
                        <% if(el.completed!==true){%>
                            <span class="complete-item">Complete</span>
                        <%}%>
                    </td>
                </tr>
            <% }) %>    
        </tbody>
    </table>

    <!-- completed others table -->
    <table class="displayed-table othersTable others completed-table hideTable">
        <caption>Completed Requested Others</caption>
        <thead>
            <tr class="field-description request-description">
                <th onclick="sortTable(0)">Unique Name ↑↓</th>
                <th onclick="sortTable(1)" class="table-date">Requested Date ↑↓</th>
                <th>Completed By</th>
                <th class="fulfillment-actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% let completedOthers = others.filter(el=>el.completed===true)%>
            <% if(completedOthers.length<1){ %>
                <tr class='requestedItem'>
                    <td class="requested-cell">None Completed</td>
                    <td class="requested-cell">None Completed</td>
                    <td class="requested-cell">None</td>
                    <td class="requested-cell">None</td>
                </tr>
            <% }
            completedOthers.forEach( el => { %>
                <tr class='requestedItem' data-id='<%=el._id%>'>
                    <td class="requested-cell"><%= el.requestedItem %></td>
                    <td class="requested-cell">
                            <% if(el.requestedDate){ %>
                                <%=
                                    `${el.requestedDate.getMonth()+1}/${el.requestedDate.getDate()}/${el.requestedDate.getFullYear()} 
                                    ${el.requestedDate.getHours()}:${String(el.requestedDate.getMinutes()).padStart(2, '0')}:${String(el.requestedDate.getSeconds()).padStart(2, '0')}`
                                %>
                            <%}else{ %>
                                <%='predate'%>
                            <% }%>
                    </td>
                    <td class="requested-cell">
                            <span class="tooltip">Completed by:
                                <div class='tooltiptext'>
                                    <%=el.completedBy%> on <%=`${el.completedAt.getMonth()+1}/${el.completedAt.getDate()}/${el.completedAt.getFullYear()}`%> at <%=`${el.completedAt.getHours()}:${String(el.completedAt.getMinutes()).padStart(2, '0')}:${String(el.completedAt.getSeconds()).padStart(2, '0')}`%>
                                </div>
                            </span>
                    </td>
                    <td class="request-actions">
                        <span class='delete-request'>Delete</span>
                        <% if(el.completed===true){%>
                            <span class="mark-uncomplete">Uncomplete</span>
                        <%}%>
                    </td>
                </tr>
            <% }) %>    
        </tbody>
    </table>

    <script src="js/main.js"></script>
    <script>
        const uniqueButton = document.querySelector('.uniqueButton')
        const gemsButton = document.querySelector('.gemsButton')
        const othersButton = document.querySelector('.othersButton')
        const uniquesTables = document.querySelectorAll('.uniquesTable')
        const gemsTables = document.querySelectorAll('.gemsTable')
        const othersTables = document.querySelectorAll('.othersTable')

        uniqueButton.addEventListener('click', e=>{
            uniquesTables.forEach(el=>el.classList.remove('hideTable'))
            gemsTables.forEach(el=>el.classList.add('hideTable'))
            othersTables.forEach(el=>el.classList.add('hideTable'))
        })
        gemsButton.addEventListener('click', e=>{
            gemsTables.forEach(el=>el.classList.remove('hideTable'))
            uniquesTables.forEach(el=>el.classList.add('hideTable'))
            othersTables.forEach(el=>el.classList.add('hideTable'))
        })
        othersButton.addEventListener('click', e=>{
            othersTables.forEach(el=>el.classList.remove('hideTable'))
            gemsTables.forEach(el=>el.classList.add('hideTable'))
            uniquesTables.forEach(el=>el.classList.add('hideTable'))
        })
    </script>
</body>
</html>
