<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uniques Requested</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/images/favicon-32x32.png"
  />
</head>
<body>
    <header>
        <nav class="topNav">
            <a href="/" class="nav-link"><span>Main</span></a>
            <a href="/login" class="nav-link"><span>Login</span></a>
            <a href="/signup" class="nav-link"><span>Signup</span></a>
            <a href="/request" class="nav-link"><span>Request</span></a>
            <a href="/uniques" class="nav-link"><span>Uniques</span></a>
            <a href="/gems" class="nav-link"><span>Gems</span></a>
            <a href="/others" class="nav-link"><span>Others</span></a>
            <a href="/jobs" class="nav-link"><span>Jobs</span></a>
            <a href="/users" class="nav-link"><span>Users</span></a>
            <a href="/builds" class="nav-link"><span>Builds</span></a>
            <a href="/resources" class="nav-link"><span>Resources</span></a>
            <a href="/admin" class="nav-link"><span>Admin</span></a>
            <a href="/logout" class="nav-link logout"><span>Logout</span></a>
        </nav>
    </header>

    <button id="menuButton" type="button">Menu</button>
    <nav class="menuNav">
        <a href="/" class="nav-link"><span>Main</span></a>
        <a href="/login" class="nav-link"><span>Login</span></a>
        <a href="/signup" class="nav-link"><span>Signup</span></a>
        <a href="/request" class="nav-link"><span>Request</span></a>
        <a href="/uniques" class="nav-link"><span>Uniques</span></a>
        <a href="/gems" class="nav-link"><span>Gems</span></a>
        <a href="/others" class="nav-link"><span>Others</span></a>
        <a href="/jobs" class="nav-link"><span>Jobs</span></a>
        <a href="/users" class="nav-link"><span>Users</span></a>
        <a href="/builds" class="nav-link"><span>Builds</span></a>
        <a href="/resources" class="nav-link"><span>Resources</span></a>
        <a href="/admin" class="nav-link"><span>Admin</span></a>
        <a href="/logout" class="nav-link logout"><span>Logout</span></a>
    </nav>

    <h1>Uniques Requested</h1>

    <img src="images/duffBlood.gif">
    <p class="centered-description">
        To mark your requested uniques as uncomplete so they show on this list again, go to the request page, navigate to uniques, scroll down to complete requested uniques table, use the uncomplete button beside your item.
    </p>
    <p class="centered-description">By default ordering of uniques is submittance order; first/oldest submitted to -> last/newly submitted.</p>

    <table class="all-requested">
        <thead>
            <tr class="field-description">
                <th scope="col" onclick="sortTable(0)">Unique Name ↑↓</th>
                <th scope="col" onclick="sortTable(1)">Poe Account ↑↓</th>
                <th scope="col" onclick="sortTable(2)">Discord Name ↑↓</th>
                <th scope="col" onclick="sortTable(3)">Date Requested ↑↓</th>
                <th scope="col" class="fulfillment-actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% if(uniques.length<1){%>
                <tr>
                    <td class="requested-cell">None Requested</td>
                    <td class="requested-cell">None Requested</td>
                    <td class="requested-cell">None Requested</td>
                    <td class="requested-cell">None</td>
                </tr>
            <%}else{
                uniques.forEach( el => {
                        let poeAccountName = el.userName;
                        let firstNameMatch = poeAccountName.match(/(\w+)\#/); 
                        let descriptorMatch = poeAccountName.match(/\#(\d+)/); 
                        let firstName = firstNameMatch ? firstNameMatch[1] : ''; 
                        let descriptor = descriptorMatch ? descriptorMatch[1] : ''; %>
                    <tr class='requestedItem' data-id='<%=el._id%>'>
                        <td class="requestingUnique requested-cell"><%= el.requestedItem %></td>  
                        <td class="requestingAccount requested-cell"><a href="https://www.pathofexile.com/account/view-profile/<%=firstName%>-<%=descriptor%>"><%= el.userName %></a></td>  
                        <td class="requestingDiscord requested-cell"><%= el.discordName%></td>
                        <td class="requestedDate requested-cell">
                            <% if(el.requestedDate){ %>
                                <%=
                                    `${el.requestedDate.getMonth()+1}/${el.requestedDate.getDate()}/${el.requestedDate.getFullYear()} 
                                    ${el.requestedDate.getHours()}:${el.requestedDate.getMinutes()}:${el.requestedDate.getSeconds()}`
                                %>
                            <%}else{ %>
                                <%='predate'%>
                            <% }%>
                        </td>
                            <td class="request-actions">
                                <span class="complete-item">Complete</span>
                            </td>
                    </tr>
                <% })
            }%>
        </tbody>
    </table>


    <script src="js/main.js"></script>
</body>
</html>